#map {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.label-stop {
}
.label-stop div {
  position: absolute;
  width: 120px;
  margin-left: -60px;
  bottom: 0;
  font-weight: bold;
  text-align: center;
}
.label-stop div span {
  background: rgba(255, 255, 255, 0.3);
}
.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}

#clock {
  position: absolute;
  z-index: 10000;
  bottom: 5px;
  left: 5px;
  border: 1px solid black;
  background: white;
}
