#map {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.label-stop {
}
.label-stop div {
  position: absolute;
  width: 120px;
  margin-left: -60px;
  bottom: 0;
  font-weight: bold;
  text-align: center;
}
.label-stop div span {
  background: rgba(255, 255, 255, 0.3);
}
.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}

#status {
  position: absolute;
  z-index: 10000;
  bottom: 5px;
  left: 5px;
  border: 1px solid black;
  background: white;
}
#status #clock {
  cursor: pointer;
}
#status div {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
#status div#loadingIndicator {
  visibility: hidden;
}
#config {
  position: absolute;
  z-index: 10000;
  top: 5px;
  left: 5px;
  border: 1px solid black;
  background: white;
}
#config .close-button {
  display: block;
  text-align: right;
  padding: 4px 4px 4px 4px;
  height: 14px;
  font-size: 16px;
  font-family: Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
}
