#map {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.label-stop {
}
.label-stop div {
  position: absolute;
  width: 120px;
  margin-left: -60px;
  bottom: 0;
  font-weight: bold;
  text-align: center;
}
.label-stop div span {
  background: rgba(255, 255, 255, 0.3);
}
.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}

#status {
  position: absolute;
  z-index: 10000;
  bottom: 5px;
  left: 5px;
  border: 1px solid black;
  background: white;
}
#status a {
  text-decoration: none;
  color: black;
}
#status #clock {
  cursor: pointer;
}
#status div {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
#status div#loadingIndicator {
  visibility: hidden;
}
#config {
  position: absolute;
  z-index: 10000;
  top: 5px;
  left: 5px;
  border: 1px solid black;
  background: white;
}
.close-button {
  display: block;
  text-align: right;
  padding: 4px 4px 4px 4px;
  height: 14px;
  font-size: 16px;
  font-family: Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
#mapKey {
  position: absolute;
  z-index: 10000;
  left: 150px;
  right: 150px;
  top: 50px;
  bottom: 50px;
  background: white;
  border: 1px solid black;
  overflow: auto;
}
#mapKey .content {
  padding: 0.5em;
}
#mapKey h1 {
  margin-top: 0;
}
#mapKey h1 .version {
  font-size: 12pt;
  font-weight: normal;
  font-style: italic;
  color: grey;
}
